<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<body onload="loadReviews(0)">
<table class="table table-bordered" id="review_table">
  <tr>
    <th class="align-bottom" rowspan="2">Cocktail</th>
    <th class="align-bottom" rowspan="2">Review</th>
    <th class="text-center" colspan="2">Review Date</th>
  </tr>
</table>

<div class="container">
  <form class="form-signin" onsubmit="update_cocktail()" id="tag_input">
    <script>
    var form = document.getElementById("tag_input");
    function handleForm(event) { event.preventDefault(); }
    form.addEventListener("submit", handleForm);
    </script>
    <label for="cocktail" class="sr-only"></label>
    <input
      type="text"
      id="tag"
      class="form-control"
      placeholder="Enter cocktail name"
      required
      autofocus
    />
  </form>
</div>
<div class="container" margin-left="auto" margin-right="auto">
  <button onclick="loadReviews("<%= cocktail %>")">
      Search
  </button>
</div>

<%- include('../partials/footer') %>
